[submodule "translators"]
	path = translators
	url = https://github.com/zotero/translators.git
[submodule "translation/translate"]
	path = translation/translate
	url = https://github.com/zotero/translate.git
[submodule "utilities"]
	path = utilities
	url = https://github.com/zotero/utilities.git
[submodule "bundled-styles"]
	path = bundled-styles
	url = https://github.com/zotero/bundled-styles/
[submodule "locales"]
	path = locales
	url = https://github.com/citation-style-language/locales.git
[submodule "reader"]
	path = reader
	url = https://github.com/zotero/reader.git
