name: Zotero Android CI

on:
  push:
    # Pattern matched against refs/tags
    tags:
      - '**'  # Push events to every tag including hierarchical tags like v1.0/beta

env:
  ANDROID_PUBLISHER_CREDENTIALS: ${{secrets.ANDROID_PUBLISHER_CREDENTIALS}}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: gradle

      - name: set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Writing PSPDFKIT's key into a file to be then picked up by gradle.
        run: echo ${{secrets.PSPDFKIT_KEY}} | sed 's/./& /g' > pspdfkit-key.txt

      - name: Decrypt Keystore
        run: openssl aes-256-cbc -d -in .github/keystore.cipher -k ${{secrets.SIGNING_KEY}} -md sha256 > zotero.release.keystore

      - name: Decrypt Keystore secrets
        run: openssl aes-256-cbc -d -in .github/keystore-secrets.cipher -k ${{secrets.SIGNING_KEY}} -md sha256 > keystore-secrets.txt

      - name: Grant execute permission for bundle_translators.py
        run: chmod +x scripts/bundle_translators.py

      - name: Execute bundle_translators.py
        run: python3 scripts/bundle_translators.py

      - name: Grant execute permission for bundle_translation.py
        run: chmod +x scripts/bundle_translation.py

      - name: Execute bundle_translation.py
        run: python3 scripts/bundle_translation.py

      - name: Grant execute permission for bundle_pdf-worker.py
        run: chmod +x scripts/bundle_pdf-worker.py

      - name: Execute bundle_pdf-worker.py
        run: python3 scripts/bundle_pdf-worker.py

      - name: Grant execute permission for bundle_citation_proc.py
        run: chmod +x scripts/bundle_citation_proc.py

      - name: Execute bundle_citation_proc.py
        run: python3 scripts/bundle_citation_proc.py

      - name: Grant execute permission for bundle_csl_locales.py
        run: chmod +x scripts/bundle_csl_locales.py

      - name: Execute bundle_csl_locales.py
        run: python3 scripts/bundle_csl_locales.py

      - name: Grant execute permission for bundle_styles.py
        run: chmod +x scripts/bundle_styles.py

      - name: Execute bundle_styles.py
        run: python3 scripts/bundle_styles.py

      - name: Grant execute permission for bundle_utilities.sh
        run: chmod +x scripts/bundle_utilities.sh

      - name: Execute bundle_utilities.sh
        run: scripts/bundle_utilities.sh

      - name: Grant execute permission for bundle_reader.sh
        run: chmod +x scripts/bundle_reader.sh

      - name: Execute bundle_reader.sh
        run: scripts/bundle_reader.sh

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Download Android dependencies
        run: ./gradlew androidDependencies --no-configuration-cache

      - name: Deploy to Google Play Internal Test Track
        run: ./gradlew --no-configuration-cache -PpreDexLibs=false publishInternalReleaseBundle --stacktrace
